.card {
  position: relative;
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
  white-space: nowrap;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/spots-images/State=Default.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/spots-images/State=Hover.svg);
  opacity: 1;
}

.card__like-btn {
  cursor: pointer;
  background-image: url(../images/spots-images/Union.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/spots-images/red\ heart.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__image {
    height: 288px;
  }
}
