.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/spots-images/Close\ Icon.svg);
  background-color: #fff;
  border: none;
  cursor: pointer;
  opacity: 0.4;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -50px;
  background: url(../images/spots-images/Close\ Icon\ -\ white.svg);
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  opacity: 1;
}

.modal__submit-btn {
  padding: 18px 0;
  border-radius: 8px;
  border: none;
  background-color: #212121;
  max-width: 156px;
  width: 100%;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #fcf5e5;
  cursor: pointer;
}

.modal__submit-btn:hover,
.modal__submit-btn:focus {
  opacity: 0.8;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.4);
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  gap: 10px;
  box-sizing: border-box;
  color: rgba(33, 33, 33, 0.4);
  font-size: 20px;
  line-height: 1;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__image-container {
  position: relative;
}
.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}
.modal__caption {
  position: absolute;
  z-index: 1;
  color: white;
  background-color: #212121;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
}

@media screen and (max-width: 320px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__input {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 100%;
    color: #212121;
  }

  .modal__submit-btn {
    max-width: none;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    min-width: unset;
  }
}
